{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row divider green">
    <div class="col-md-12"></div>
</div>
<div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
        <h1>Edit Item</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-1 padding-top">
        <form action="#" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" maxlength="50" class="form-control"
                       name="name" placeholder="Name of the item" value='{{item.name}}'>
                <label for="description">Description:</label>
                <textarea class="form-control" maxlength="250" rows="3" name="description">{{item.description}}</textarea>

                <label for="price">Price:</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" maxlength="10" class="form-control" name="price" value="{{item.price}}">
                </div>
                <br>
                <div class="input-group">
                    <label for="category">Category:
                    </label>
                    <br>
                    <label for="firstlevelcategory">First Level:
                    </label>
                    <label>
                        <select id="firstlevel">
                              <option value ="Clothing, Shoes & Jewelry">Clothing, Shoes & Jewelry</option>
                              <option value ="Electronics & Computers">Electronics & Computers</option>
                        </select>
                    </label>
                </div>
                <div class="input-group">
                    <label for="secondlevel">Second Level:</label>
                    <label>
                        <select name="category_id" id='secondlevel'>
                            <option value='3'>Clothing</option>
                            <option value='4'>Shoes</option>
                            <option value='5'>Jewelry</option>
                        </select>
                    </label>
                </div>
                <button class="btn btn-default" id="submit" type="submit">
                    <span class="glyphicon glyphicon-plus"
                          aria-hidden="true"></span>Create
                </button>
            </div>
        </form>
        <a href="{{url_for('showItem',shop_id=shop_id)}}">
            <button class="btn btn-default delete">
                        <span class="glyphicon glyphicon-remove"
                              aria-hidden="true"></span> Cancel
                    </button>
        </a>
    </div>
</div>

{% endblock %}